.main {
  position: relative;
  z-index: 1;
}
.main_total {
  margin: 120px auto;
}
.incheon_total {
  background: #fdf4e33c;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 150px;
}
.incheon {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.incheon h2 {
  font-size: 25px;
  padding: 15px 15px 15px 0;
  border-right: 2px solid #ffb862;
}

.main_gnb ul {
  width: 700px;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.main_gnb ul li {
  text-align: center;
}
.main_gnb a {
  font-size: 18px;
}
.main_gnb img {
  width: 60px;
  display: block;
  margin-bottom: 10px;
}
.kor:hover {
  content: url(../img/KakaoTalk_20231201_153025071.png);
  width: 60px;
  cursor: pointer;
}
.eng:hover {
  content: url(../img/free-icon-pizza-1867845.png);
  width: 60px;
  cursor: pointer;
}
.chn:hover {
  content: url(../img/free-icon-jjajangmyeon-8269654.png);
  width: 60px;
  cursor: pointer;
}
.jan:hover {
  content: url(../img/free-icon-nigiri-5391971.png);
  width: 60px;
  cursor: pointer;
}
.tteok:hover {
  content: url(../img/free-icon-tteokbokki-6609199.png);
  width: 60px;
  cursor: pointer;
}

.best_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.best_menu h3 {
  margin-bottom: 100px;
  font-size: 35px;
}
.best_3 {
  width: 1000px;
  display: flex;
  flex-direction: column;
}
.store1,
.store2,
.store3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border: 1px solid #efefef;
  padding: 10px;
}
.store1 a,
.store2 a,
.store3 a {
  height: 20px;
}
.store2 {
  position: relative;
  flex-direction: row-reverse;
}
.store1 img,
.store3 img {
  width: 500px;
  margin-right: 20px;
}
.store2 img {
  width: 500px;
  margin-left: 20px;
}
.store_1,
.store_2,
.store_3 {
  display: flex;
  align-items: center;
}
.store_2 {
  flex-direction: row-reverse;
}
.store_2 div {
  position: absolute;
  left: 10px;
  top: 25%;
}
.store_1 h4,
.store_2 h4,
.store_3 h4 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.store_1 p,
.store_2 p,
.store_3 p {
  font-size: 18px;
  margin-bottom: 5px;
}
