.main {
  position: relative;
  z-index: 1;
}
.main_total {
  width: 1000px;
  margin: 100px auto;
}
.incheon {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 100px;
}
.incheon h2 {
  font-size: 25px;
  padding: 15px 15px 15px 0;
  border-right: 2px solid #ffb862;
}

.main_gnb ul {
  width: 700px;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.main_gnb ul li {
  text-align: center;
}
.main_gnb a {
  font-size: 18px;
}
.main_gnb img {
  width: 60px;
  display: block;
  margin-bottom: 10px;
}
.kor:hover {
  content: url(../img/KakaoTalk_20231201_153025071.png);
  width: 60px;
  cursor: pointer;
}
.eng:hover {
  content: url(../img/free-icon-pizza-1867845.png);
  width: 60px;
  cursor: pointer;
}
.chn:hover {
  content: url(../img/free-icon-jjajangmyeon-8269654.png);
  width: 60px;
  cursor: pointer;
}
.jan:hover {
  content: url(../img/free-icon-nigiri-5391971.png);
  width: 60px;
  cursor: pointer;
}
.tteok:hover {
  content: url(../img/free-icon-tteokbokki-6609199.png);
  width: 60px;
  cursor: pointer;
}

.best_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.best_menu h3 {
  margin-bottom: 50px;
  font-size: 35px;
}
.best_3 {
  width: 1000px;
  display: flex;
  flex-direction: column;
}
.store {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border: 1px solid #efefef;
  padding: 10px;
}
.store_1 {
  display: flex;
  align-items: center;
}
.store_1 h4 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.store_1 p {
  font-size: 18px;
  margin-bottom: 5px;
}
.store img {
  width: 500px;
  margin-right: 20px;
}
