.hide {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: -1px;
    text-indent: -9999px;
    border: none;
}
header, main, footer, p, h2 {
    padding: 0;
    margin: 0;
}
body {
    font-size: 13px;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
/* 헤더 */
header {
    height: 200px;
    background: #FDF4E3;
    width: 1200px;
    margin: 0 auto 80px;
}
h1 {
    font-size: 30px;
}


/* 메인 */
main {
    width: 1200px;
    margin: 0 auto 80px;
}
.apply_cont_wrap {
    width: 500px;
    margin: 0 auto;
    padding: 40px 0 40px ;
    box-sizing: border-box;
    border: 1px solid #cbcbcb;
}
.apply_cont_wrap p {
    font-size: 14px;
    font-weight: bold;
}
.apply_all_wrap {
    display: flex;
    justify-content: space-between;
    margin:0 auto 60px;
    width: 300px;
}
.apply_all {
    font-size: 16px;
    width: 257px;
}
textarea {
    background: #fff;
    color: gray;
    width: 300px;
    height: 70px;
}
.apply_wrap {
    width: 300px;
    margin: 0 auto 30px;
}
.apply_cont {
    display: flex;
    justify-content: space-between;
}
#apply4 {
    margin-bottom: 40px;
}
.btn_wrap {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 18px
}
.btn1 {
    border: 1px solid #cbcbcb;
    background: #fff;
    display: block;
    width: 120px;
    height: 40px;
}
.btn2 {
    border: 1px solid #FFB862;
    background: #FFB862;
    display: block;
    width: 120px;
    height: 40px;
    color: #fff;
}






/* 푸터 */
footer {
    height: 200px;
    background: #FDF4E3;
    width: 1200px;
    margin: 0 auto;
}