main {
    margin: 120px auto 200px;
    max-width: 1000px;
}

h3 {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 100px;
}
section img {
    width: 500px;
}

.best_food1 img, .best_food3 img {
    margin-right: 15px;
}
.best_food2 img {
    margin-left: 15px;
}
.best_food1, .best_food2, .best_food3 {
    border: 1px solid #cbcbcb;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 120px;
    display: flex;
    position: relative;
}
.best_food2 {
    flex-direction: row-reverse;
}
dl dt {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
dl dd {
    margin-bottom: 5px;
}.best_food1_info, .best_food2_info, .best_food3_info {
    display: flex;
    align-items: center;
}
.more {
    color: #ffb862;
    font-weight: bold;
}
dl dd:last-child {
    margin-top: 10px;
}