main {
    margin: 120px auto 60px;
    max-width: 1000px; 
}
.content_box{
    border: 1px solid #eee;
    padding: 70px 0 0;
    position: relative;
    margin-bottom: 30px;
}
main h2 {
    margin-bottom: 50px;
    font-size: 35px;
    text-align: center;
}
.content_title {
    margin: 0 auto 40px;
    font-size: 25px;
    text-align: center;
}
.writer_date_wrap {
    display: flex;
    justify-content: center;
    gap: 50px;
}
main span {
    border: 1px solid #eee;
    display: block;
    max-width: 800px;
    margin: 0 auto;
}
.line1 {
    margin-bottom: 7px;
}
.line2 {
    margin-top: 7px;
    margin-bottom: 50px;
}
.writer_date_wrap b {
    margin-right: 7px;
}
.content_detail {
    max-width: 800px;
    padding: 0 0 100px 0;
    margin: 0 auto 50px;
}
.like_comment_wrap {
    display: flex;
    max-width: 800px;
    margin: 0 auto 10px;
    gap: 20px;
}
.like_comment_wrap b {
    margin-right: 3px;
}
.content_like button {
    width: 20px;
    height: 20px;
    background: url(../images/like.png)no-repeat 1px 1px / 15px 15px;
    text-indent: -9999px;
}
#comment_box {
    width: 800px;
    height: 60px;
    border: 1px solid #cbcbcb;
    padding: 5px;
    outline: none;
    resize: none;
}
.comment_box_wrap {
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}
.comment_box_wrap button {
    position: absolute;
    right: -2px;
    bottom: 11px;
    color: gray;
}
.modify_btn {
    margin: 70px auto 20px;
    background: #ffb862;
    color: #fff;
    display: block;
    padding: 4px 5px;
    border-radius: 5px;
}
.prev, .next {
    display: block;
    text-decoration: underline;
    margin-bottom: 5px;
}