main {
    margin: 120px auto 60px;
    width: 1000px;
    text-align: center;
}
.content_box{
    border: 1px solid #eee;
    padding: 70px 0;
}
main h2 {
    margin-bottom: 50px;
    font-size: 35px;
}
.content_title {
    margin: 0 auto 40px;
    font-size: 25px;
}
.writer_date_wrap {
    display: flex;
    justify-content: center;
    gap: 50px;
}
main span {
    border: 1px solid #eee;
    display: block;
    width: 800px;
    margin: 0 auto;
}
.line1 {
    margin-bottom: 7px;
}
.line2 {
    margin-top: 7px;
    margin-bottom: 50px;
}
.writer_date_wrap b {
    margin-right: 7px;
}
.content_detail {
    border: 1px solid #000;
    padding: 100px 0;
    margin: 0 30px 100px;
}
.like_comment_wrap {
    display: flex;
    width: 800px;
    margin: 0 auto 30px;
    gap: 30px;
}
.like_comment_wrap b {
    margin-right: 3px;
}
.content_like  {
}