main {
    max-width: 1000px;
    margin: 120px auto 200px;
    position: relative;
}
main h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 80px;
}
main input {
    display: block;
}
.write_wrap {
    padding: 30px;
    box-sizing: border-box;
}
.title_box {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    box-sizing: border-box;

    border-bottom: 1px solid #e5e5e5;
}
#title {
    border: 1px solid #cbcbcb;
    outline: none;
    padding: 10px;
    width: 85%;
    height: 35px;
    box-sizing: border-box;
}
.title_box label {
    width: 30px;
}
.content_box {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;

    border-bottom: 1px solid #e5e5e5;
}
#content {
    width: 85%;
    height: 500px;
    border: 1px solid #cbcbcb;
    outline: none;
    padding: 15px;
    box-sizing: border-box;
    resize: none;
}
main form {
    margin: 0 auto 60px;
}
.content_box label {
    width: 30px;
}
.file_box {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    box-sizing: border-box;
}
#u_file {
    width: 85%;
}
.submit_btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    background: #FFB862;
    color: #fff;
    padding: 8px 6px;
    box-sizing: border-box;
    border-radius: 5px;
}


@media screen and (max-width: 767px) {
    .file_txt {
        display: block;
    }
}