main {
    max-width: 1000px;
    margin: 120px auto 200px;
    position: relative;
}
main h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}
.board_write_btn {
    background: #FFB862;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 60px;
}
table {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 70px;
}
th {
    line-height: 1.4;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid gray;
}
tr, td {
    border-bottom: 1px solid #cbcbcb;
    padding: 10px;
}
.number_wrap {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}
.number_wrap a:first-child {
    color: #FFB862;
    font-weight: bold;
    text-decoration: underline;
}
.board_search_wrap {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.board_search_btn {
    background: #FFB862;
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
}
#board_search {
    border: 1px solid #cbcbcb;
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    outline: none;
}

tbody tr:nth-child(1) {
    background: #fdf4e33c;
}
tbody tr:nth-child(2) {
    background: #fdf4e33c;
}
tbody tr:nth-child(3) {
    background: #fdf4e33c;
}

tbody tr:nth-child(1) td:nth-child(2) {
    color: red;
    font-weight: bold;
}
tbody tr:nth-child(2) td:nth-child(2) {
    color: red;
    font-weight: bold;
}
tbody tr:nth-child(3) td:nth-child(2) {
    color: red;
    font-weight: bold;
}

tbody tr td:nth-child(3) {
    font-size: 13px;
}