.footer {
  position: relative;
  z-index: 2;
  background: #efefef;
}
.footer_total {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 60px 0 50px;
}
.logo_copy {
  display: flex;
}
.bottom_logo {
  padding: 0 150px 0 30px;
}
.bottom_logo span {
  display: block;
  font-size: 20px;
  text-align: center;
}
.bottom_logo img {
  width: 150px;
  height: 150px;
}
.bottom_copy {
  line-height: 30px;
  font-size: 18px;
}
.bottom_menu {
  padding-bottom: 30px;
}
.bottom_menu a {
  padding-right: 30px;
}
.sns img {
  width: 50px;
  height: 50px;
}
