/* 헤더 */
header {
    height: 200px;
    background: #FDF4E3;
    width: 1200px;
    margin: 0 auto 100px;
}
h1 {
    font-size: 30px;
}



/* 메인 */
main {
    width: 1200px;
    margin: 0 auto 80px;
}

/* 탑메뉴 */
.top_menu {
    display: flex;
    margin: 0 auto 150px;
    width: 800px;
    justify-content: center;
    align-items: center;
}
.top_menu h2 {
    font-size: 25px;
    display: flex;
    align-items: center;
}
.top_menu h2:after {
    content: "";
    display: block;
    width: 5px;
    height: 50px;
    background: #FFB862;
    margin: 0 50px 0 15px
}
/* .top_menu span {
    display: block;
    width: 5px;
    height: 50px;
    background: #FFB862;
    margin: 0 50px 0 15px;
} */
.top_menu ul {
    display: flex;
    width:500px;
    justify-content: space-between;
    align-items: center;
}
.top_menu ul li img {
    width: 40px;
    display: block;
    margin-bottom: 10px;
}
.top_menu ul li {
    text-align: center;
    margin-right: 40px;
    font-size: 16px
}
.top_menu ul li:last-child {
    margin-right: 0;
}
.top_menu ul li:first-child:hover {
    content: url(../images/korean_c.png);
    width: 40px;
    cursor: pointer;
}
.top_menu ul li:nth-child(2):hover {
    content: url(../images/piz_c.png);
    width: 40px;
    cursor: pointer;
}
.top_menu ul li:nth-child(3):hover {
    content: url(../images/chn_c.png);
    width: 40px;
    cursor: pointer;
}
.top_menu ul li:nth-child(4):hover {
    content: url(../images/jpn_c.png);
    width: 40px;
    cursor: pointer;
}
.top_menu ul li:last-child:hover {
    content: url(../images/tbk_c.png);
    width: 40px;
    cursor: pointer;
}



/* 콘텐츠 */
.korean_top3 h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 80px;
}
.korean_top3 > div {
    width: 1000px;
    margin: 0 auto 160px;
}
.korean1 {
    display: flex;
    gap: 30px;
    border: 1px solid #cbcbcb;
}

/* 이미지 크기 조정 */
.korean_top3 img {
    width: 300px;
}
/* // */

.korean2 {
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
    border: 1px solid #cbcbcb;
}
.korean3 {
    display: flex;
    gap: 30px;
    border: 1px solid #cbcbcb;
}
.korean1_info {
    font-size: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.korean2_info {
    font-size: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.korean3_info {
    font-size: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




/* 푸터 */
footer {
    height: 200px;
    background: #FDF4E3;
    width: 1200px;
    margin: 0 auto;
}