.main {
  position: relative;
  z-index: 1;
}
.main form {
  width: 1000px;
  display: flex;
  margin: 150px auto;
  justify-content: center;
}
.main fieldset {
  /* width: 500px; */
  text-align: center;
}
.main legend {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 50px;
}
.id_pwd {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.id_pwd input {
  width: 260px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px 10px 15px 40px;
  border: 1px solid #cbcbcb;
  border-radius: 7px;
}
.id input {
  background: url(../img/login_icon.png) no-repeat;
  background-size: 25px;
  background-position: 5px;
}
.pwd input {
  background: url(../img/password_icon.png) no-repeat;
  background-size: 25px;
  background-position: 5px;
}
.state {
  display: flex;
  justify-content: center;
  margin: 5px 0 30px;
  font-size: 16px;
}
.login_btn {
  display: flex;
  width: 260px;
  height: 50px;
  border: 1px solid #ffb862;
  border-radius: 7px;
  background: #ffb862;
  justify-content: center;
  margin: 0 auto 30px;
}
.login_btn button {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.find {
  display: flex;
  justify-content: center;
  margin: auto;
}
.find a {
  padding: 0 10px;
  font-size: 16px;
}
.id_find,
.pwd_find {
  border-right: 1px solid #ffb862;
}
