.main {
  position: relative;
  z-index: 1;
}
.main_total {
  width: 1200px;
  margin: 100px auto;
}
.box {
  width: 800px;
  margin: 0 auto 100px;
  font-family: "학교안심 분필";
}
.box ul {
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box ul li {
  /* border: 1px solid #aaa; */
  box-sizing: border-box;
  position: relative;
}
.box img {
  width: 250px;
  height: 250px;
}
.box span {
  position: absolute;
  bottom: 20px;
  left: 0;
  padding: 25px;
  font-size: 30px;
  font-weight: bold;
  color: gold;
}
.random {
  display: flex;
}
.box_btn {
  font-size: 15px;
  position: absolute;
  border: 1px solid gold;
  border-radius: 40px;
  background: gold;
  font-weight: bold;
  padding: 5px 10px;
  top: 10px;
  right: 10px;
  color: black;
}
.random span {
  top: 0;
  font-size: 18px;
  color: black;
  padding: 15px;
}

.notice_sns {
  width: 1000px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
/*notice*/
.main_notice {
  display: flex;
  width: 480px;
}
.notice_inner {
  width: 480px;
  margin-top: 30px;
}
.notice_inner a {
  display: flex;
  margin-bottom: 10px;
}
.notice_inner_date {
  width: 100px;
}
/*sns*/
.media img {
  width: 220px;
}

.main_sns {
  display: flex;
  width: 480px;
  margin-bottom: 100px;
  position: relative;
}
.media {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}
.media_title {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.media_title a {
  padding-left: 20px;
}
.media_inner {
  width: 480px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.media_title_s {
  display: none;
}
.media_y div,
.media_i div,
.media_b div {
  display: flex;
  justify-content: space-between;

  /* position: absolute; */
}
