.main {
  position: relative;
  z-index: 1;
}
.main_total {
  width: 1200px;
  margin: 100px auto;
}
.box {
  width: 800px;

  margin: 0 auto 100px;
}
.box ul {
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box ul li {
  /* border: 1px solid #aaa; */
  box-sizing: border-box;
  position: relative;
}
.box img {
  width: 250px;
  height: 250px;
}
.box span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.random {
  display: flex;
}
.box_btn {
  font-size: 15px;
  position: absolute;
  border: 1px solid #ffb862;
  border-radius: 40px;
  background: #ffb862;
  font-weight: bold;
  padding: 5px 10px;
  top: 10px;
  right: 10px;
  color: white;
}
.random span {
  font-size: 18px;
  color: #ffb862;
  padding: 15px;
}

.notice_sns {
  width: 1000px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.main_notice {
  display: flex;
  width: 480px;
}

/*sns*/
.main_sns {
  display: flex;
  width: 480px;
}
.media {
  display: flex;
}
.media img {
  width: 150px;
}
/* .media_youtube,
.media_insta,
.media_blog {
  display: flex;
} */
/* .media a {
  display: none;
} */
.media_insta a,
.media_blog a {
  display: none;
}
