.report_main {
  position: relative;
  z-index: 1;
}
.report_form {
  width: 1000px;
  margin: 100px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
legend {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
fieldset label {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
fieldset label span {
  display: block;
  width: 80px;
  margin-right: 10px;
}
fieldset label input {
  padding: 10px 5px;
}
.report_email input,
.report_title input,
.report_pwd input {
  width: 450px;
  box-sizing: border-box;
}
.report_type {
  display: flex;
  width: 450px;
  justify-content: space-between;
}
.report_txt textarea {
  width: 450px;
  height: 200px;
  padding: 10px 5px;
  box-sizing: border-box;
}
.file input {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.report_btn button {
  border: 1px solid #ffb862;
  border-radius: 15px;
  padding: 10px 20px;
  background: #ffb862;
}
