.hide {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: -1px;
    text-indent: -9999px;
    border: none
}

body, header, main, footer, div, nav, p, h1, h2, h3, h4, ul, li, dl, dt, dd, button, form, fieldset, address, button, table, thead, th, td, tr, tbody {
    padding: 0;
    margin: 0
}
ul, li {
    list-style: none
}
body {
    font-family: "나눔고딕 코딩" ;
    font-size: 15px
}
a {
    color: inherit;
    text-decoration: none
}
address {
    font-style: normal;
}
fieldset, img {
    border: none;
}
button {
    border: none;
    cursor: pointer;
    background: none;
    font-family: "나눔고딕 코딩";
}
a, img {
    vertical-align: bottom;
}