.hide {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: -1px;
    text-indent: -9999px;
    border: none
}

header, main, footer, div, p, h1, h2, h3, ul, li {
    padding: 0;
    margin: 0
}
ul, li {
    list-style: none
}
body {
    font-size: 13px
}
a {
    color: inherit;
    text-decoration: none
}