body {
  font-family: "학교안심 우주";
  font-size: 15px;
}
body,
header,
main,
footer,
h1,
h2,
h3,
h4,
div,
nav,
ul,
li,
a,
p,
span,
img,
button,
form,
fieldset,
legend,
label,
input,
address {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}
fieldset,
img {
  border: none;
}
ul,
li {
  list-style: none;
}
button {
  border-style: none;
  cursor: pointer;
  background: none;
  font-family: "학교안심 우주";
}
.hide {
  position: absolute; /*앱솔루트를 사용하면 부모 자식이 인식을 못하는 상태로 떠서 어디로든 이동 가능*/
  width: 0;
  height: 0;
  overflow: hidden;
  margin: -1px; /*포지션과 같은 의미*/
  text-indent: -9999px; /*위 세개와 같은 의미*/
}
