/* 메인 */
main {
    margin: 120px auto 200px;
}

/* 탑메뉴 */
.bg {
    background: #fdf4e33c;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 150px;
}
.content_wrap {
    max-width: 1000px;
    margin: 0 auto;
}
main .top_menu {
    max-width: 800px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
main .top_menu h2 {
    font-size: 25px;
    display: flex;
    align-items: center;
}
main .top_menu h2:after {
    content: "";
    display: block;
    width: 2px;
    height: 55px;
    background: #FFB862;
    margin: 0 33px 0 15px
}
/* .top_menu span {
    display: block;
    width: 5px;
    height: 50px;
    background: #FFB862;
    margin: 0 50px 0 15px;
} */
main .top_menu ul {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .top_menu ul li img {
    width: 60px;
    display: block;
    margin-bottom: 10px;
}
main .top_menu ul li {
    text-align: center;
    font-size: 18px
}
main .top_menu ul li:first-child:hover {
    content: url(../images/korean_c.png);
    width: 60px;
    cursor: pointer;
}
main .top_menu ul li:nth-child(2):hover {
    content: url(../images/piz_c.png);
    width: 60px;
    cursor: pointer;
}
main .top_menu ul li:nth-child(3):hover {
    content: url(../images/chn_c.png);
    width: 60px;
    cursor: pointer;
}
main .top_menu ul li:nth-child(4):hover {
    content: url(../images/jpn_c.png);
    width: 60px;
    cursor: pointer;
}
main .top_menu ul li:last-child:hover {
    content: url(../images/tbk_c.png);
    width: 60px;
    cursor: pointer;
}


/* 콘텐츠 */
h3 {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 100px;
}
section img {
    width: 500px;
}
.seoul_food1 img, .seoul_food3 img {
    margin-right: 15px;
}
.seoul_food2 img {
    margin-left: 15px;
}
.seoul_food1, .seoul_food2, .seoul_food3 {
    border: 1px solid #cbcbcb;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 150px;
    display: flex;
}
.seoul_food2 {
    flex-direction: row-reverse;
}

/* 한식 ~ 분식 */ 
.food1 img, .food3 img {
    margin-right: 15px;
}
.food2 img {
    margin-left: 15px;
}
.food1, .food2, .food3 {
    border: 1px solid #cbcbcb;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 150px;
    display: flex;
    position: relative;
}
.food2 {
    flex-direction: row-reverse;
}
dl dt {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
dl dd {
    margin-bottom: 5px;
}
.food1_info, .food2_info, .food3_info {
    display: flex;
    align-items: center;
}
.food1_info dl, .food2_info dl, .food3_info dl {
    width: 365px;
}
.food1_info dd a, .food3_info dd a {
    color: #FFB862;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 15px;
}
.food2_info dd a {
    color: #FFB862;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 15px;
}

#korean_food, #western_food, #chinese_food, #japanese_food, #snack_food {
   
}