/* 메인 */
main {
    width: 1200px;
    margin: 0 auto 80px;
}

/* 탑메뉴 */
main .top_menu {
    display: flex;
    margin: 0 auto 150px;
    width: 800px;
    justify-content: center;
    align-items: center;
}
main .top_menu h2 {
    font-size: 25px;
    display: flex;
    align-items: center;
}
main .top_menu h2:after {
    content: "";
    display: block;
    width: 5px;
    height: 50px;
    background: #FFB862;
    margin: 0 50px 0 15px
}
/* .top_menu span {
    display: block;
    width: 5px;
    height: 50px;
    background: #FFB862;
    margin: 0 50px 0 15px;
} */
main .top_menu ul {
    display: flex;
    width:500px;
    justify-content: space-between;
    align-items: center;
}
main .top_menu ul li img {
    width: 40px;
    display: block;
    margin-bottom: 10px;
}
main .top_menu ul li {
    text-align: center;
    margin-right: 40px;
    font-size: 16px
}
main .top_menu ul li:last-child {
    margin-right: 0;
}
main .top_menu ul li:first-child:hover {
    content: url(../images/korean_c.png);
    width: 40px;
    cursor: pointer;
}
main .top_menu ul li:nth-child(2):hover {
    content: url(../images/piz_c.png);
    width: 40px;
    cursor: pointer;
}
main .top_menu ul li:nth-child(3):hover {
    content: url(../images/chn_c.png);
    width: 40px;
    cursor: pointer;
}
main .top_menu ul li:nth-child(4):hover {
    content: url(../images/jpn_c.png);
    width: 40px;
    cursor: pointer;
}
main .top_menu ul li:last-child:hover {
    content: url(../images/tbk_c.png);
    width: 40px;
    cursor: pointer;
}



/* 콘텐츠 */


